.mediamanager-browser .dropzone-form:after,
.mediamanager-browser .dropzone-form .dropzone-actions:after {
    content: "";
    display: table;
    clear: both;
}

.mediamanager-browser,
.mediamanager-tags,
.mediamanager-categories {
    margin: 15px;
}

.mediamanager-browser h1 {
    margin-bottom: 40px;
}

.mediamanager-browser h1 span {
    margin-right: 20px;
}

.mediamanager-browser .select-source {
    margin-bottom: 20px;
}

.mediamanager-browser .filters .search-form {
    margin-bottom: 20px;
}

.mediamanager-browser .filters .advanced-search-filters {
    display: none;
}

.mediamanager-browser .filters .advanced-search-filters .form-control,
.mediamanager-browser .filters .advanced-search-filters .select2-container {
    float: left;
    margin: 0 2px;
    width: 19.5% !important;
}

.mediamanager-browser .filters .advanced-search-filters .hasDatepicker {
    display: none;
    margin-top: 5px;
    width: 9.6% !important;
}

.mediamanager-browser .filters .bulk-actions {
    display: none;
}

.mediamanager-browser .dropzone-form {
    display: none;
    margin-bottom: 20px;
    text-align: center;
    border: 4px dashed #ddd;
}

.mediamanager-browser .dropzone-form.dz-drag-hover {
    border-style: solid;
    background: #f5f5f5;
    opacity: 0.6;
}

.mediamanager-browser .dropzone-form h2 {
    margin: 20px 0;
}

.mediamanager-browser .dropzone-form .note {
    margin: 20px 0;
}

.mediamanager-browser .dropzone-form .dz-preview {
    margin: 0 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    text-align: left;
}

.mediamanager-browser .dropzone-form .dz-preview.dz-complete .alert {
    margin: 0;
}

.mediamanager-browser .dropzone-form .dz-preview.dz-error .alert {
    margin-top: 10px;
}

.mediamanager-browser .dropzone-form .dz-preview img {
    max-width: 80px;
}

.mediamanager-browser .dropzone-form .dz-preview .select2-container--default {
    width: 100% !important;
}

.mediamanager-browser .dropzone-form .dz-preview .categories {
    margin-bottom: 10px;
}

.mediamanager-browser .dropzone-form .dz-preview .btn-copy {
    display: none;
    margin-top: 10px;
}

.mediamanager-browser .dropzone-form .dropzone-actions {
    display:none;
    margin: 0 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.mediamanager-browser .breadcrumbs-container {
    padding: 0 10px;
}

.mediamanager-browser .breadcrumbs-container + hr {
    margin-top: 15px;
}

.mediamanager-browser .breadcrumbs-container .fa {
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}

.mediamanager-browser .view-mode-grid .file {
    position: relative;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.mediamanager-browser .view-mode-grid .file .glyphicon-ok-sign {
    position: absolute;
    top: -18px;
    left: -7px;
    display: none;
    font-size: 30px;
    color: #2e6da4;
}

.mediamanager-browser .view-mode-grid .file .file-preview {
    height: 80%;
    text-align: center;
}

.mediamanager-browser .view-mode-grid .file .file-preview img,
.mediamanager-browser .view-mode-grid .file .file-preview svg {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.mediamanager-browser .view-mode-grid .file .file-name {
    text-align: center;
    word-wrap: break-word;
    font-size: 13px;
}

.mediamanager-browser .view-mode-grid .file .file-options {
    position: absolute;
    top: 10px;
    right: 26px;
    display: none;
}

.mediamanager-browser .view-mode-grid .file:hover .file-options {
    display: block;
}

.mediamanager-browser .view-mode-grid .file.file-selected img,
.mediamanager-browser .view-mode-grid .file.file-selected svg {
    border: 3px solid #2e6da4;
    border-radius: 3px;
}

.mediamanager-browser .view-mode-grid .file.file-selected .glyphicon-ok-sign {
    display: block;
}

.mediamanager-tag {
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
    padding: 0 10px 0 15px;
    background: #0089e0;
    color: #fff;
    text-decoration:none;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
}
.mediamanager-tag:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #0089e0;
}

.mediamanager-tag:after {
    content:"";
    position:absolute;
    top:10px;
    left:5px;
    float:left;
    width:4px;
    height:4px;
    border-radius:2px;
    background:#fff;
}

.ui-widget-overlay {
    z-index: 1090 !important;
}

.ui-dialog {
    z-index: 1100 !important;
    padding: 0 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.ui-widget-content {
    background: #fff !important;
}

.ui-widget-header {
    border: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: #333 !important;
    background-color: #f5f5f5 !important;
}

ol.sortable ol {
    padding-left: 25px;
}

ol.sortable,
ol.sortable ol {
    margin-top: 5px;
    list-style-type: none;
}

ol.sortable li {
    margin-bottom: 5px;
}

ol.sortable li div {
    cursor: move;
    border-bottom: 1px solid #ddd;
    padding: 5px 7px;
    margin: 0;
}

.placeholder {
    outline: 1px dashed #4183C4;
}

.select2-container--default .select2-selection--multiple {
    min-height: 34px;
    border-color: #ccc;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--categories .select2-selection--multiple .select2-selection__choice {
    background-color: #f0ad4e;
    border: 0;
    color: #fff;
}

.select2-container--tags .select2-selection--multiple .select2-selection__choice {
    background-color: #5bc0de;
    border: 0;
    color: #fff;
}

.tags .notice {
    display: block;
    font-weight: 800;
    padding: 10px 0;
}

.modal .file-preview img {
    width: 100%;
}

.modal img.crop {
    max-width: 100%;
    height: 400px;
}

.modal .crop-data .input-group {
    margin-top: 10px;
}

.modal .crop-buttons {
    margin-top: 20px;
}

.modal .crop-buttons > .btn,
.modal .crop-buttons > .btn-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

.modal .crop-preview {
    height: 120px;
}

.modal .crop-preview .img-preview {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.modal label.spacing {
    margin-top: 10px;
}

.modal .select2-container--default {
    width: 100% !important;
}

.modal-footer {
    text-align: left;
}

#modx-content {
    overflow-y: auto;
}

#modx-leftbar,
#modx-leftbar-tabs-xsplit,
#modx-leftbar-tabs-xcollapsed {
    display: none !important;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
}
.tv-tiny-use {
    display: none;
    position: absolute;
    top: 45%;
    left: 38%;
    width: 29%;
}
